@font-face{
  font-family: 'lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster'), url(../fonts/lobster.ttf) format('truetype');
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
    z-index:3;
}

#titleBar{
	color: #CB2027;
	font-family: 'lobster';
	font-size: 35px;
}